@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//VARIABLES
$mainColor: #fff;
$secondaryColor: #EE8313;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-color: #000;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


//HEADER + BURGER
header{
    background-color: #000;
}

li{
    list-style: none;
}

a{
    color: $mainColor;
    text-decoration: none;
}

.navbar{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    &-link{
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;
        transition: 0.7s all ease;

        &:hover{
            color: $secondaryColor;
        }
    }

    .nav-button{
        margin-left: 24px;
        padding: 12px 24px;
        background-color: $secondaryColor;
        transition: .7s all ease;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;

        &:hover{
            background-color: darken($secondaryColor, 7%);
        }
    }
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 900px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        z-index: 1;
        width: 100%;
        text-align: center;
        transition: .3s;

        &-item{
            margin: 16px 0px;
        }

        .nav-button{
            margin-left: 0px;
        }

        &.active{
            left: -26%;
        }
    }
    
}

//HERO SECTION

.section__hero{
    position: relative;

    img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        transition: 0.7s all ease;
        transform: translate(0, -50%);

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}
.hero{

    &__title{
        max-width: 591px;
        color: $mainColor;
        margin-top: 167px;
        opacity: 0;
        transform: translate(-120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }
    
        h1{
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 123.077% */
            letter-spacing: 0.312px;
        }
    }

    &__subtitle{
        margin-top: 32px;
        margin-bottom: 48px;
        max-width: 474px;
        opacity: 0.8;
        color: $mainColor;
        opacity: 0;
        transform: translate(-120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        h2{
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 164.706% */
            letter-spacing: -0.408px;
        }
    }

    &__buttons{
        display: flex;
        gap: 35px;

        opacity: 0;
        transform: translate(-120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &__buy-btn{
        padding: 12px 24px;
        background-color: $secondaryColor;
        color: $mainColor;
        transition: .7s all ease;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;

        &:hover{
            background-color: darken($secondaryColor, 7%);
        }
    }

    &__video-btn{
        padding: 12px 24px;
        border: 1px solid $secondaryColor;
        color: $secondaryColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;
        transition: .7s all ease;

        &:hover{
            color: $mainColor;
            border: 1px solid $mainColor;
        }
    }

    &__stats{
        display: flex;
        margin-top: 40px;
        margin-bottom: 187px;
        gap: 40px;

        opacity: 0;
        transform: translate(-120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &__stat{
        color: $mainColor;
        display: flex;
        align-items: center;
        gap: 16px;
        
        h3{
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px; /* 130% */
            letter-spacing: -0.164px;
        }

        p{
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
            letter-spacing: 0.16px;
        }
    }
}

.rent{

    &__title{
        margin: 0 auto;
        max-width: 591px;
        margin-bottom: 40px;

        opacity: 0;
        transform: translate(0, 120%);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        h2{
            text-align: center;
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 123.077% */
            letter-spacing: 0.312px;
            color: $mainColor;
        }
    }

    &__cards{
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }

    &__card{
        width: 584px;
        height: 524px;

        opacity: 0;
        transform: translate(0, 20%);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        h2{
            margin-top: 48px;
            margin-left: 48px;
            color: $mainColor;
            font-size: 40px;

            font-style: normal;
            font-weight: 600;
            line-height: 52px; /* 130% */
            letter-spacing: 0.24px;
        }

        &-btn{
            display: flex;
            align-items: center;
            margin-top: 344px;
            margin-left: 389px;

            a{
                color: $mainColor;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 133.333% */
                letter-spacing: 0.144px;
                transition: .3s all ease;

                &:hover{
                    font-size: 28px;
                }
            }
        }
        
    }
    &__card:nth-child(1){
        background: url(../images/supercars.png) top center;
    }
    &__card:nth-child(2){
        background: url(../images/sportcars.png) top center;
    }
    &__card:nth-child(3){
        background: url(../images/suv.png) top center;
    }
    &__card:nth-child(4){
        background: url(../images/supersuv.png) top center;
    }
}

.services{
    margin-bottom: 120px;

    &__title{
        max-width: 591px;
        margin-bottom: 66px;

        opacity: 0;
        transform: translate(-120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        h2{
            color: $mainColor;
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 123.077% */
            letter-spacing: 0.312px;
        }
    }

    &__cards{
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 32px;

        opacity: 0;
        transform: translate(120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        &-card{
            max-width: 384px;
            height: 516px;

            h2{
                margin-top: 24px;
                margin-bottom: 16px;
                color: $mainColor;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px; /* 133.333% */
                letter-spacing: 0.144px;

                a{
                    transition: .7s all ease;
                    
                    &:hover{
                        color: $secondaryColor;
                        letter-spacing: 1px;
                    }
                }
            }
            
            p{
                color: $mainColor;
                opacity: .8;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 175% */
                letter-spacing: 0.096px;
            }
        }
    }
}

.destination{

    &__title{
        max-width: 591px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;

        opacity: 0;
        transform: translate(120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }
        
        h2{
            color: $mainColor;
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 123.077% */
            letter-spacing: 0.312px;
        }
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;

        opacity: 0;
        transform: translate(-120%, 0);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        &-card{
            max-width: 384px;
            color: $mainColor;

            h2{
                margin-top: 24px;
                margin-left: 24px;
                margin-bottom: 10px;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px; /* 133.333% */
                letter-spacing: 0.144px;
            }
            p{
                opacity: .8;
                margin-left: 24px;
                margin-bottom: 25px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 175% */
                letter-spacing: 0.066px;
            }
            h3{
                display: flex;
                align-items: center;
                margin-left: 24px;
                margin-bottom: 17px;
                gap: 12px;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; /* 175% */
                letter-spacing: 0.066px;
            }
            &-link{
                margin-left: 24px;
                margin-bottom: 24px;
                a{
                    color: $secondaryColor;
                }
            }
        }
    }
}

.map{
    margin-bottom: 102px;

    &__title{
        max-width: 591px;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: 162px;
        text-align: center;

        opacity: 0;
        transition: .7s all ease;

        &._active{
            opacity: 1;
        }

        h2{
            color: $mainColor;
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 123.077% */
            letter-spacing: 0.312px;
        }
    }

    .responsive_map{
        max-width: 100%;
    }

    &__map{
        opacity: 0;
        transition: .7s all ease;

        &._active{
            opacity: 1;
        }
    }
}

.footer{
    background-color: #1F1905;
    color: $mainColor;

    &__main{
        display: flex;
        justify-content: space-between;

        opacity: 0;
        transform: translate(0, 20%);
        transition: .7s all ease;

        &._active{
            transform: translate(0, 0);
            opacity: 1;
        }

        &-info{
            padding-top: 52px;
            padding-bottom: 98px;
    
            h2{
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 150% */
                letter-spacing: 0.16px;
            }
            p{
                margin-top: 76px;
                max-width: 235px;
    
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 177.778% */
            }
        }

        &-list{
            margin-top: 80px;
            display: flex;
            gap: 73px;
            
            ul{
                display: flex;
                flex-direction: column;
                gap: 30px;

                li:nth-child(1){
                    opacity: 1;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px; /* 111.111% */
                }

                li{
                    opacity: .8;
                }
            }
        }
    }

    &__bottom{
        background-color: $secondaryColor;
        text-align: center;
        padding: 20px 0px;

        h2{
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
        }
    }
}

//RESONSIVE DESIGN
@media (max-width: 1240px){
    .destination__cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }
    .rent__cards{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }
}

@media (max-width: 1200px) {
    .container{
        padding: 0px 15px;
    }
    .section__hero img{
        max-width: 900px;
    }
    .services__cards{
        grid-template-columns: repeat(2, 1fr);
        place-items: center;

        &-card:nth-child(3){
            margin-top: 32px;
        }
    }   
}

@media (max-width: 1100px){
    .section__hero img{
        max-width: 800px;
    }
}

@media (max-width: 970px){
    .section__hero img{
        position: static;
    }
    .section__hero .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .hero__title{
        margin-top: 50px;
    }
    .hero__stats{
        margin-bottom: 0px;
    }
}

@media (max-width: 826px){
    .services__title{
        margin: 0 auto;
        text-align: center;
    }
    
    .rent__cards{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin-bottom: 50px;
    }

    .services{
        margin-bottom: 50px;
    }
    .services__cards{
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        margin-bottom: 0px;
        
        &-card{
            margin-top: 32px;
        }
    }

    .destination__cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .destination__title h2{
        font-size: 33px;
    }

    .map__title{
        margin-top: 50px;
    }
}

@media (max-width: 740px){
    .footer__main{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-info{
            display: none;
        }

        &-list{
            margin-bottom: 25px;
            margin-top: 25px;

            ul{
                align-items: center;
            }
        }
    }
}

@media (max-width: 616px){
    .rent__card{
        max-width: 500px;
    }

    .rent__card-btn{
        margin-left: 333px;
    }
}
@media (max-width: 528px){
    .rent__card{
        max-width: 400px;
    }

    .rent__card-btn{
        margin-left: 250px;
    }
}
@media (max-width: 428px){
    .rent__card{
        max-width: 350px;
    }

    .rent__card-btn{
        margin-left: 200px;
    }

    .services__cards-card, .services__cards-card img{
        max-width: 320px;
        height: auto;
    }

    .destination__cards-card img{
        max-width: 320px;
    }
    .destination__title h2, .map__title h2{
        font-size: 30px;
    }

    .responsive_map{
        height: 300px;
    }

    .footer__main-list{
        flex-direction: column;
    }
}

@media (max-width: 390px){
    .hero__buttons{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .hero__title h1{
        font-size: 37px;
    }
}

@media (max-width: 380px){
    .rent__card{
        max-width: 300px;
    }

    .rent__card-btn{
        margin-left: 160px;
    }
    .rent__title h2{
        font-size: 30px;
    }
    .services__title h2{
        font-size: 30px;
    }
}

@media (max-width: 350px){
    .services__cards-card, .services__cards-card img{
        max-width: 290px;
    }
    .hero__stats{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }
    .hero__subtitle{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .destination__cards-card img{
        max-width: 290px;
    }
}

@media (max-width: 330px){
    .services__cards-card, .services__cards-card img{
        max-width: 260px;
    }

    .rent__card{
        max-width: 260px;
        height: 400px;

        h2{
            text-align: center;
            margin-left: 0px;
        }

        &-btn{
            display: flex;
            justify-content: center;
            margin: 0;
            margin-top: 220px;
        }
    }
    .destination__cards-card img{
        max-width: 260px;
    }
    .destination__cards-card p{
        font-size: 14px;
    }
}

@media (max-width: 290px){
    .rent__card, .services__cards-card, .services__cards-card img, .destination__cards-card img{
        max-width: 230px;
    }
    .destination__cards-card p, .destination__cards-card h3, .destination__cards-card-link a{
        font-size: 12px;
    }
}
